{% extends 'base.html' %} {% block content %}
<h3>Book Appointment</h3>

<form method="POST" class="card p-3 shadow">
  {% csrf_token %}

  <div class="mb-3">
    <label>Patient</label>
    <select name="patient" class="form-control">
      {% for p in patients %}
      <option value="{{ p.id }}">{{ p.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label>Staff</label>
    <select name="staff" class="form-control">
      {% for s in staff %}
      <option value="{{ s.id }}">{{ s.name }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="mb-3">
    <label>Date</label>
    <input type="date" name="date" class="form-control" />
  </div>

  <button class="btn btn-warning">Book</button>
</form>
{% endblock %}
